.input-form-error {
  font-size: 12px;
  color: #ff5b5b;
}

td {
  vertical-align: middle !important;
}

th {
  text-align: center;
}

.order {
  text-align: center;
}

.w100 {
  width: 100px;
}

.w50 {
  width: 50px;
}

.sortable:hover {
  cursor: pointer;
}

.video-content {
  display: none;
}
